

<div class="container_box">
    <div class="form_for">
        <form>
            <div class="user_name"> Service Type:</div>

            <select class="select_box">
                <option value=" Bangalore">Auto</option>
                <option value="Bangalore">Stitch</option>


            </select>
            <br>
            <div class="user_name">Name</div>
            <input type="text" name="pickupaddress:" placeholder="Name">
            <br>

            <label for="demo1" class="user_name">Pickup Date </label><br>
            <input type="Text" id="demo1" maxlength="25" size="25" placeholder="Pickup Date"/>
            <img src="/cal.gif" onclick="javascript:NewCssCal('demo1')" style="cursor:pointer"/>

            <br>
            <div class="user_name">contact Number:</div>

            <input type="text" name="contactnumber" placeholder="Enter Your Contact NUmber">
            <br>
            <div class="user_name">Select City:</div>

            <select class="select_box">
                <option value=" Bangalore">Bangalore</option>
                <option value="Bangalore">Delhi</option>
                <option value="Bangalore">Mumbai</option>

            </select>
            <br>
            <div class="user_name">Pickup Address:</div>
            <input type="text" name="pickupaddress:" placeholder="Enter Your  Pickup Address">
            <br>

            <div class="user_name">Select City:</div>
            <select class="select_box">
                <option value=" Bangalore">Bangalore</option>
                <option value="Bangalore">Delhi</option>
                <option value="Bangalore">Mumbai</option>

            </select>
            <br>
            <div class="user_name">Delivery Address:</div>
            <input type="text" name="deliveryaddress" placeholder="Enter Your Delivery Address"><br>
            <input type="button" class="custom_home_btn11" value="Send" />
        </form>

    </div>
    <div class="form_for">
        <div class="divide">

        </div>

        <div class="track">  <input type="text" name="pickupaddress:"  placeholder="Enter Your Code"><input type="button" class="custom_home_btn11" value="Track Your Order" /></div>
    </div>
</div>
