<div class="footer">
    <div class="container_header">
        <div class="logo_with">


            <div class="login_registation1">
                <a class="button btn-primary custom_home_btn" href=""> About Us </a>
                <label>&nbsp;&nbsp;&nbsp;</label>|
                <a class="button btn-primary custom_home_btn" href=""> Contact Us</a>
                <label>&nbsp;&nbsp;&nbsp;</label>|
                <a class="button btn-primary custom_home_btn" href=""> Privacy Policy</a>
                <label>&nbsp;&nbsp;&nbsp;</label>|
                <a class="button btn-primary custom_home_btn" href=""> About Us </a>
                <label>&nbsp;&nbsp;&nbsp;</label>|
                <a class="button btn-primary custom_home_btn" href=""> Contact Us</a>
                <label>&nbsp;&nbsp;&nbsp;</label>|
                <a class="button btn-primary custom_home_btn" href=""> Privacy Policy</a>
                <label>&nbsp;&nbsp;&nbsp;</label>|
                <a class="button btn-primary custom_home_btn" href=""> About Us </a>
                <label>&nbsp;&nbsp;&nbsp;</label>|
                <a class="button btn-primary custom_home_btn" href=""> Contact Us</a>
                <label>&nbsp;&nbsp;&nbsp;</label>|
                <a class="button btn-primary custom_home_btn" href=""> Privacy Policy</a>
            </div>
        </div>

    </div>
</div>